.title{
  margin: 20px auto 20px 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: xx-large;
  display: flex;
}

h1.heading{
  margin-top: 10px;
  margin-left: 10px;
  font-size: xx-large;
}

.signinButton{
  margin-top: -4px;
  margin-left: auto;
  margin-right: 40px;
  font-size: 36px;
  cursor: pointer;

  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.signinButton:hover{
  transform: scale(1.1);
}

.listElement{
  background-color: rgba(242, 242, 242, 0.6);
  border-radius: 12px;
  padding: 2px;
  width: 90%;
  max-width: 640px;
  height: 56px;
  margin: 40px auto 40px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: 500;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
}

.checkedElement{
  background-color: rgba(24, 24, 24, 0.2);
  color: rgba(24, 24, 24, 0.8);
}

.listElement:hover{
  transform: scale(1.025);
  box-shadow: 4px 4px 36px rgba(24, 24, 24, 0.15);
}

.trash, .addIcon{
  margin: auto 25px auto auto;
  font-size: x-large;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.check{
  margin: auto auto auto 25px;
  font-size: x-large;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.trash:hover, .addIcon:hover, .check:hover{
  transform: scale(1.25);
}

.text{
  margin-left: 25px;
  margin-top: auto;
  margin-bottom: auto;
}

.checked{
  text-decoration: line-through;
}

input[type=text]{
  border: none;
  background-color: rgba(24, 24, 24, 0);
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: 500;
  padding: 2px;
  width: 100%;
}

input:focus{
  border: none;
  outline: none;
}

.userIcon{
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-top: 4px;
  margin-left: auto;
  margin-right: 40px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.userIcon:hover{
  transform: scale(1.25);
}